{% extends "layout.html" %}
{% block body %}

<a href="/">Back to main page</a>
<h1>{{cookbook.name}}</h1>
<div class="cookbook-info">
Num recipes made: {{cookbook.num_recipes_made()}}<br/>
Success rate: {{cookbook.success_percentage()}}%<br/>
Num recipes we want to make: {{cookbook.num_recipes_want_to_make()}}<br/>
Notes: {{cookbook.notes}}<br/>
</div>
<div class="recipe-list">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Num times made</th>
      <th>Best rating</th>
      <th>Priority</th>
      <th>Category</th>
    </tr>
  {% for recipe in cookbook.recipes%}
    <tr>
      <td>
        <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a><br/>
      </td>
      <td>
        {{recipe.get_num_times_made()}}
      </td>
      <td>
        {{recipe.get_best_rating()}}
      </td>
      <td>
        {{recipe.priority}}
      </td>
      <td>
        {{recipe.category}}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class="add-recipe">
  <h2>Add recipe</h2>
  <div class="container">
    <form action="/addrecipe">
      <div class="row">
        <div class="col-25">
          <label for="recipe_name">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="recipe_name" name="recipe_name" placeholder="Recipe name">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="recipe_category">Category</label>
        </div>
        <div class="col-75">
          <input type="text" id="recipe_category" name="recipe_category" placeholder="Recipe category">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="recipe_priority">Priority</label>
        </div>
        <div class="col-75">
          <input type="text" id="recipe_priority" name="recipe_priority" placeholder="Recipe priority">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="recipe_notes">Notes</label>
        </div>
        <div class="col-75">
          <input type="text" id="recipe_notes" name="recipe_notes" placeholder="Recipe notes">
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" formmethod="post">
      </div>
      <input type="hidden" name="recipe_cookbook_id" value="{{cookbook.id}}">
    </form>
  </div>
</div>
{% endblock %}