{% extends "layout.html" %}
{% block body %}

<h1>Cookbooks</h1>
<div class="cookbook-list">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Num recipes made</th>
      <th>Success rate</th>
      <th>Num recipes we want to make</th>
    </tr>
  {% for cookbook in cookbooks %}
    <tr>
      <td>
        <a href="/cookbook/{{cookbook.id}}">{{cookbook.name}}</a><br/>
      </td>
      <td>
        {{cookbook.num_recipes_made()}}
      </td>
      <td>
        {{cookbook.success_percentage()}}%
      </td>
      <td>
        {{cookbook.success_percentage()}}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class="add-cookbook">
  <h2>Add cookbook</h2>
  <div class="container">
    <form action="/addcookbook">
      <div class="row">
        <div class="col-25">
          <label for="cookbook_name">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="cookbook_name" name="cookbook_name" placeholder="Cookbook name">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="cookbook_notes">Notes</label>
        </div>
        <div class="col-75">
          <input type="text" id="cookbook_notes" name="cookbook_notes" placeholder="Cookbook notes">
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" formmethod="post">
      </div>
    </form>
  </div>
</div>
{% endblock %}