{% extends "layout.html" %}
{% block body %}

<a href="{{back_link}}">{{back_text}}</a><br/>
<a href="{{view_link}}">View page</a><br/>
<h1>{{title}}</h1>
<div class="info">
  <table class="infotable">
    <form action="{{edit_entity_link}}">
      {% for info in edit_info_dicts %}
      <tr>
        <td>{{info.name}}</td><td>
        <input id="{{info.entity_id}}" name="{{info.entity_id}}" value="{{info.value}}"
        {% if info.input_attributes %}
          {{info.input_attributes}}
        {% endif %}></td>
      </tr>
      {% endfor %}
      <tr><td></td><td><input type="submit" value="Submit" formmethod="post"></td></tr>
    </form>
    {% if image_upload_link %}
    <form action="{{image_upload_link}}" method=post enctype=multipart/form-data>
      <tr>
        <td><input type="file" name="file"></td>
        <td><input type="submit" value="Upload">
      </tr>
    </form>
    {% endif %}
    <form action="{{delete_link}}">
      <tr><td>Type "delete" to delete this {{delete_entity_type}}</td><td>
        <input type="text" id="delete" pattern="delete" name="delete"/></td>
      <tr><td></td><td><input type="submit" value="Delete" formmethod="post"></td></tr>
    </form>
  </table>
</div>
{% endblock %}
