{% extends "layout.html" %}
{% block body %}

<a href="/">Back to main page</a><br/>
<a href="/cookbook/view/{{cookbook.entity_id}}">View page</a><br/>
<h1>{{cookbook.name}}</h1>
<div class="cookbook-info">
  <table class="infotable">
    <form action="/editcookbook/{{cookbook.entity_id}}">
    <tr>
      <td>Name</td><td><input type="text" id="cookbook_name" name="cookbook_name" value="{{cookbook.name}}"></td>
    </tr>
    <tr>
      <td>Notes</td><td><input type="text" id="cookbook_notes" name="cookbook_notes" value="{{cookbook.notes}}"></td>
    </tr>
    <tr><td></td><td><input type="submit" value="Submit" formmethod="post"></td></tr>
    </form>
    <form action="/deletecookbook/{{cookbook.entity_id}}">
      <tr><td>Type "delete" to delete this cookbook</td><td><input type="text" id="cookbook_delete" name="cookbook_delete"/></td>
      <tr><td></td><td><input type="submit" value="Delete" formmethod="post"></td></tr>
    </form>
  </table>
</div>
{% endblock %}