{% extends "layout.html" %}
{% block body %}

<a href="/cookbook/view/{{cookbook.entity_id}}">Back to {{cookbook.name}} page</a><br/>
<a href="/recipe/view/{{recipe.entity_id}}">View page</a><br/>
<h1>{{cookbook.name}}: {{recipe.name}}</h1>
<div class="recipe-info">
  <table class="infotable">
    <form action="/editrecipe/{{recipe.entity_id}}">
      <tr>
        <td>Name</td><td><input type="text" id="recipe_name" name="recipe_name" value="{{recipe.name}}"></td>
      </tr>
      <tr>
        <td>Category</td><td><input type="text" id="recipe_category" name="recipe_category" value="{{recipe.category}}"></td>
      </tr>
      <tr>
        <td>Priority</td><td><input type="text" id="recipe_priority" name="recipe_priority" value="{{recipe.priority}}"></td>
      </tr>
      {% if recipe.has_image %}
      <tr>
        <td>Has image</td><td><input type="text" id="recipe_has_image" name="recipe_has_image" value="{{recipe.has_image}}"></td>
      </tr>
      {% else %}
        <input type="hidden" name="recipe_has_image" value="False">
      {% endif %}
      <tr>
        <td>Notes</td><td><input type="text" id="recipe_notes" name="recipe_notes" value="{{recipe.notes}}"></td>
      </tr>
      <tr><td></td><td><input type="submit" value="Submit" formmethod="post"></td></tr>
    </form>
    <form action="/recipe/uploadimage/{{recipe.entity_id}}" method=post enctype=multipart/form-data>
      <tr>
        <td><input type="file" name="file"></td>
        <td><input type="submit" value="Upload">
      </tr>
    </form>
    <form action="/deleterecipe/{{recipe.entity_id}}">
      <tr><td>Type "delete" to delete this recipe</td><td><input type="text" id="recipe_delete" name="recipe_delete"/></td>
      <tr><td></td><td><input type="submit" value="Delete" formmethod="post"></td></tr>
    </form>
  </table>
</div>
{% endblock %}
