{% extends "layout.html" %}
{% block body %}

<a href="/recipe/view/{{recipe.entity_id}}">Back to {{recipe.name}} page</a><br/>
<a href="/entry/view/{{entry.entity_id}}">View page</a><br/>
<h1>Entry for: {{recipe.name}}</h1>
<div class="entry-info">
  <table class="infotable">
    <form action="/editentry/{{entry.entity_id}}">
      <tr>
        <td>Date</td><td class="values"><input type="text" id="entry_date" name="entry_date" value="{{entry.date_string()}}"/></td>
      </tr>
      <tr>
        <td>Miriam's rating</td><td class="values"><input type="text" id="entry_miriam_rating" name="entry_miriam_rating" value="{{entry.miriam_rating}}"/></td>
      </tr>
      <tr>
        <td>James' rating</td><td class="values"><input type="text" id="entry_james_rating" name="entry_james_rating" value="{{entry.james_rating}}"/></td>
      </tr>
      <tr>
        <td>Miriam's comments</td><td class="values"><textarea rows="10" id="entry_miriam_comments" name="entry_miriam_comments">{{entry.miriam_comments}}</textarea></td>
      </tr>
      <tr>
        <td>James' comments</td><td class="values"><textarea rows="10" id="entry_james_comments" name="entry_james_comments">{{entry.james_comments}}</textarea></td>
      </tr>
      <tr><td></td><td><input type="submit" value="Submit" formmethod="post"></td></tr>
    </form>
    <form action="/deleteentry/{{entry.entity_id}}">
      <tr><td>Type "delete" to delete this entry</td><td><input type="text" id="entry_delete" name="entry_delete"/></td>
      <tr><td></td><td><input type="submit" value="Delete" formmethod="post"></td></tr>
    </form>
  </table>
</div>
{% endblock %}
