{% extends "layout.html" %}
{% block body %}

<a href="/">Back to main page</a><br/>
<a href="/cookbook/view/{{cookbook.id}}">View page</a><br/>
<h1>{{cookbook.name}}</h1>
<div class="cookbook-info">
  <form action="/editcookbook/{{cookbook.id}}">
    <table class="infotable">
      <tr>
        <td>Name</td><td><input type="text" id="cookbook_name" name="cookbook_name" value="{{cookbook.name}}"></td>
      </tr>
      <tr>
        <td>Notes</td><td><input type="text" id="cookbook_notes" name="cookbook_notes" value="{{cookbook.notes}}"></td>
      </tr>
      <tr><td></td><td><input type="submit" value="Submit" formmethod="post"></td></tr>
    </table>
  </form>
</div>
{% endblock %}