{% extends "layout.html" %}
{% block body %}

<a href="/cookbook/view/{{cookbook.id}}">Back to {{cookbook.name}} page</a><br/>
<a href="/recipe/view/{{recipe.id}}">View page</a><br/>
<h1>{{cookbook.name}}: {{recipe.name}}</h1>
<div class="recipe-info">
  <form action="/editrecipe/{{recipe.id}}">
    <table class="infotable">
      <tr>
        <td>Name</td><td><input type="text" id="recipe_name" name="recipe_name" value="{{recipe.name}}"></td>
      </tr>
      <tr>
        <td>Category</td><td><input type="text" id="recipe_category" name="recipe_category" value="{{recipe.category}}"></td>
      </tr>
      <tr>
        <td>Priority</td><td><input type="text" id="recipe_priority" name="recipe_priority" value="{{recipe.priority}}"></td>
      </tr>
      <tr>
        <td>Has image</td><td><input type="text" id="recipe_has_image" name="recipe_has_image" value="{{recipe.has_image}}"></td>
      </tr>
      <tr>
        <td>Notes</td><td><input type="text" id="recipe_notes" name="recipe_notes" value="{{recipe.notes}}"></td>
      </tr>
      <tr><td></td><td><input type="submit" value="Submit" formmethod="post"></td></tr>
    </table>
  </form>
</div>
{% endblock %}
