{% extends "layout.html" %}
{% block body %}

<a href="/recipe/view/{{recipe.id}}">Back to {{recipe.name}} page</a><br/>
<a href="/entry/edit/{{entry.id}}">Edit page</a><br/>
<h1>Entry for: {{recipe.name}}</h1>
<div class="entry-info">
  <table class="infotable">
    <tr>
      <td>Date:</td><td class="values">{{entry.date_string()}}</td>
    </tr>
    <tr>
      <td>Miriam's rating:</td><td class="values">{{entry.miriam_rating}}</td>
    </tr>
    <tr>
      <td>James' rating:</td><td class="values">{{entry.james_rating}}</td>
    </tr>
    <tr>
      <td>Miriam's comments:</td><td class="values">{{entry.miriam_comments}}</td>
    </tr>
    <tr>
      <td>James' comments:</td><td class="values">{{entry.james_comments}}</td>
    </tr>
  </table>
</div>
{% endblock %}
