{% extends "layout.html" %}
{% block body %}

<a href="/cookbook/view/{{cookbook.entity_id}}">Back to {{cookbook.name}} page</a><br/>
<a href="/recipe/edit/{{recipe.entity_id}}">Edit page</a><br/>
<h1>{{cookbook.name}}: {{recipe.name}}</h1>
{% if recipe.has_image %}
<img class="recipe-image" src="/serveimage/{{recipe.entity_id}}.jpg"/>
{% endif %}
<div class="recipe-info">
  <table class="infotable">
    <tr>
      <td>Best rating:</td><td>{{recipe.get_best_rating()}}</td>
    </tr>
    <tr>
      <td>Latest rating:</td><td>{{recipe.get_latest_rating()}}</td>
    </tr>
    <tr>
      <td>Num times made:</td><td>{{recipe.get_num_times_made()}}</td>
    </tr>
    <tr>
      <td>Category:</td><td>{{recipe.category}}</td>
    </tr>
    <tr>
      <td>Priority:</td><td>{{recipe.priority}}</td>
    </tr>
    <tr>
      <td>Notes:</td><td>{{recipe.notes}}</td>
    </tr>
  </table>
</div>
<div class="entry-list">
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Overall Rating</th>
      <th>Miriam's Rating</th>
      <th>Miriam's Comments</th>
      <th>James' Rating</th>
      <th>James' Comments</th>
    </tr>
  {% for entry in recipe.entries_by_date_descending() %}
    <tr>
      <td>
        <a href="/entry/view/{{entry.entity_id}}">{{entry.date_string()}}</a><br/>
      </td>
      <td>
        {{entry.get_overall_rating()}}
      </td>
      <td>
        {{entry.miriam_rating}}
      </td>
      <td>
        {{entry.miriam_comments}}
      </td>
      <td>
        {{entry.james_rating}}
      </td>
      <td>
        {{entry.james_comments}}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<div class="add-entry">
  <h2>Add entry</h2>
  <div class="container">
    <form action="/addentry">
      <div class="row">
        <div class="col-25">
          <label for="entry_date">Date</label>
        </div>
        <div class="col-75">
          <input type="text" id="entry_date" name="entry_date" value="{{recipe.get_today_date()}}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="entry_miriam_rating">Miriam's Rating</label>
        </div>
        <div class="col-75">
          <input type="text" id="entry_miriam_rating" name="entry_miriam_rating" placeholder="Miriam's rating">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="entry_miriam_comments">Miram's Comments</label>
        </div>
        <div class="col-75">
          <input type="text" id="entry_miriam_comments" name="entry_miriam_comments" placeholder="Miriam's comments">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="entry_james_rating">James' Rating</label>
        </div>
        <div class="col-75">
          <input type="text" id="entry_james_rating" name="entry_james_rating" placeholder="James' rating">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="entry_james_comments">James' Comments</label>
        </div>
        <div class="col-75">
          <input type="text" id="entry_james_comments" name="entry_james_comments" placeholder="James' comments">
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" formmethod="post">
      </div>
      <input type="hidden" name="entry_recipe_id" value="{{recipe.entity_id}}">
    </form>
  </div>
</div>
{% endblock %}
