{% extends "layout.html" %}
{% block body %}
<a href="/">Back to main page</a><br/>
<h1>Search Recipes</h1>
<div>
  <table>
    <tr><td>Recipe Name</td><td><input id="name" oninput="handleInput()"></td></tr>
    <tr><td>Cookbook name</td><td><input id="cookbook_name" oninput="handleInput()"></td></tr>
    <tr><td>Min num times made</td><td><input id="min_num_times_made" type="number" value="0" oninput="handleInput()"></td>
    <td>Max num times made</td><td><input id="max_num_times_made" type="number" value="9999" oninput="handleInput()"></td></tr>
    <tr><td>Min best rating</td><td><input id="min_best_rating" type="number" value="0" oninput="handleInput()"></td>
    <td>Max best rating</td><td><input id="max_best_rating" type="number" value="10" oninput="handleInput()"></td></tr>
    <tr><td>Min priority</td><td><input id="min_priority" type="number" value="0" oninput="handleInput()"></td>
    <td>Max priority</td><td><input id="max_priority" type="number" value="4" oninput="handleInput()"></td></tr>
    <tr><td>Category</td><td><input id="category" oninput="handleInput()"></td></tr>
  </table>
</div>
<div id="recipes_table">
</div>

<script src="/scripts.js"></script>
<script>
  var recipe_dicts = {{recipe_dicts | tojson | safe}};

  function handleInput() {
    var recipeName = getValue("name");
    var cookbookName = getValue("cookbook_name");
    var minNumTimesMade = parseInt(getValue("min_num_times_made"), 10);
    var maxNumTimesMade = parseInt(getValue("max_num_times_made"), 10);
    var minBestRating = parseFloat(getValue("min_best_rating"));
    var maxBestRating = parseFloat(getValue("max_best_rating"));
    var minPriority = parseInt(getValue("min_priority"), 10);
    var maxPriority = parseInt(getValue("max_priority"), 10);
    var category = getValue("category");

    var filtered_recipes = recipe_dicts.filter(function(recipe) {
      if (!recipe.name.toLowerCase().includes(recipeName)) {
        return false;
      }
      if (!recipe.cookbook_name.toLowerCase().includes(cookbookName)) {
        return false;
      }
      var numTimesMade = parseInt(recipe.num_times_made, 10);
      if (numTimesMade < minNumTimesMade || numTimesMade > maxNumTimesMade) {
        return false;
      }
      var bestRating = parseFloat(recipe.best_rating);
      if (bestRating < minBestRating || bestRating > maxBestRating) {
        return false;
      }
      var priority = parseInt(recipe.priority, 10);
      if (priority < minPriority || priority > maxPriority) {
        return false;
      }
      if (!recipe.category.toLowerCase().includes(category)) {
        return false;
      }
      return true;
    });

    var tableHeaders = ["Recipe name", "Cookbook name", "Category", "Best rating", "Latest rating", "Num times made", "Priority"];
    var tableProperties = ["name", "cookbook_name", "category", "best_rating", "latest_rating", "num_times_made", "priority"];
    var viewUrlBase = "/recipe/view/";
    var viewUrlProperty = "entity id";
    var tableElementId = "recipes_table";
    renderTable(filtered_recipes, tableHeaders, tableProperties, viewUrlBase, viewUrlProperty, tableElementId);
  }
  handleInput();
</script>
{% endblock %}
